/** Sobrescritura de Bootstrap de MAQINT **/

table .text-warning {
    color: #d49f00 !important;
}

.partido-check {
    height: 67px;
    padding-top: 2em;
}

@media (min-width: 1200px) {
    .modal-lg {
        width: 1100px;
    }
}
td.border-right, th.border-right {
    border-right: 1px solid #ccc;
}