#main-content .login-logo {
    margin-left: 0 !important;
}

#main-footer img {
    max-width: 150px;
}

th.cell-small , td.cell-small {
    width: 10px;
}

td.border-right, th.border-right {
    border-right: 1px solid #ccc;
}

legend > a:hover, legend > a:active, legend > a:focus {
    text-decoration: none !important;
}

.form-template-field p {
    display: inline;
}

.audit-field {
    margin-bottom: 2em;
}

.audit-measures {
    margin-top: 1em;
}

.audit-measure {
    align-items: center;
    display: flex;
    margin-bottom: .5em;
}

.audit-measure-button {
    align-items: center;
    margin-right: 1em;
}

.audit-measure-input {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.audit-measure-item {
    flex-grow: 1;
    margin-bottom: .5em;
    margin-right: 1em;
}

.audit-measure-numbers {
    align-items: center;
    display: flex;
    margin-bottom: .5em;
}

.audit-measure-thredshold {
    display: flex;
}

.audit-measure-numbers > *,
.audit-measure-thredshold > * {
    margin-right: 1em;
    flex-basis: 50%;
}

.audit-measure-result .glyphicon {
    margin-top: .8em;
}

.audit-measure-result .glyphicon-ok-sign {
    color: #28a745;
}

.audit-measure-result .glyphicon-remove-sign {
    color: #dc3545;
}

.audit-observations {
    margin-top: .5em;
}

.audit-observations a {
    text-decoration: none;
}

.audit-observations textarea {
    min-height: 10em;
}

.audit-img-input {
    display: flex;
    margin-top: .5em;
}

.audit-img-input > div {
    margin-right: 1.5em;
}

.audit-img-input input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.audit-img-input label {
	cursor: pointer;
    color: #1d71b8;
    display: inline-block;
}

.audit-img-input label:hover {
    color: #134876;
}

.audit-img-current {
    margin-top: 1em;
}

.audit-img-current img,
.audit-img-preview img {
    margin: .5em;
    max-height: 100px;
}

.audit-img-current img {
    cursor: pointer;
}

.audit-img-current img.to-remove {
    border: 2px solid red;
}

.checkbox-container {
    display: block;
}

.checkbox-container > span {
    margin-left: .5em;
}

@media (max-width: 990px) {
    #main-wrapper #main-content {
        min-height: calc(100% - 85px);
    }
    #main-footer {
        height: 30px;
    }
    #main-footer #footer-logo,
    #main-footer #footer-info,
    #main-footer img {
        height: 25px;
        font-size: 0.65em;
    }
    #main-footer #footer-info #footer-menu {
        padding-top: 3px;
    }

    .login-left {
        padding: 0 35px !important;
    }
    .container-full {
        padding-left: 20px;
        padding-right: 20px;
    }
    .breadcrumb {
        margin-top: 10px;
    }

    fieldset legend {
        font-size: 1.1em;
    }

    .audit-measure {
        margin-bottom: 1.5em;
    }
}

@media (min-width: 990px) {
    .form-row {
        display: flex;
    }
    .form-row > * {
        flex-basis: 100%;
        margin-right: 25px;
    }
    .form-row > *:last-child {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .modal-lg {
        width: 1100px;
    }
}
